.playClass {
    font-size:15px;
    font-family:Arial;
    width:71px;
    height:35px;
    border-width:1px;
    color:#fff;
    border-color:#18ab29;
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:#44c767;
  }

  
.pauseClass {
    font-size:15px;
    font-family:Arial;
    width:71px;
    height:35px;
    border-width:1px;
    color:#fff;
    border-color:rgba(207, 94, 63, 1);
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px rgba(136, 80, 56, 1);
    background:rgba(208, 2, 27, 1);
  }
  
  .meter {
    width: 500px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .tempo{
    background-color: antiquewhite;
    width: 50px;
    text-align: center;
    margin-top: 0.5cm;
  }